.DS_Store
.vscode/
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
AppDemo/.spm.pods
AppDemo/Pods
AppDemo/vendor
AppDemo/build/
AppDemo/*.xcworkspace/
.swiftpm/
.build/
